<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Land title api</title>
</head>
<body class="bg-success p-4">
    <h1 class="text-center text-primary m-2"  >Hello there</h1>
    <div class="container h-75 m-4 font-italic inline-block">
        <h1>Welcome to the land title api</h1>
        <p>To test kindly use the following endpoints</p>
        <ul>
            <li><strong>/login/</strong> for login </li>
            <li><strong>/register/</strong> for registration </li>
            <li><strong>/titles/</strong> to get all titles</li>
            <li><strong>/titles/post/</strong> for creating a title </li>
            <li><strong>/titles/search/?title=SEARCH_ITEM</strong> to filter for a specific title </li>
        </ul>
        <h1 class="text-center text-primary">Happy hacking</h1>
    </div>
</body>
</html>